@model test_Data.Models.AdminModel
@{
    ViewData["Title"] = "Admin";

}

<form action="/home/admin" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" placeholder="Enter Name" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Surname</label>
        <input type="text" asp-for="Surname">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="container">
    @if (ViewBag.users != null && ViewBag.users.Count >= 1)
    {

        <table class="table table-dark">
            <thead>
                <tr>
                    ##- header
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var admin in ViewBag.users)
                {
                    <tr>
                        <td>@admin.Name</td>
                        <td>@admin.Surname</td>
                        <td>
                            <form asp-action="UpdateAdmin" asp-controller="Home" method="post">
                                <input type="hidden" asp-for="Id" value="@admin.Id"/>
                                <button type="submit" class="btn btn-success">Update</button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="DeleteAdmin" asp-controller="Home" method="post">
                                <input type="hidden" asp-for="Id" value="@admin.Id" />
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    }


</div>


