@model test_Data.Models.AccountModel
@{
    ViewData["Title"] = "Authenticate Page";
    List<AccountModel> users = TempData["users"] as List<AccountModel>;
}

<style>
    body {
        background-image: url('https://media.istockphoto.com/id/1227577523/photo/school-zone-warning-sign-on-blur-traffic-road-with-colorful-bokeh-light-abstract-background.jpg?s=612x612&w=0&k=20&c=peM19VJk8zDi2gNNK_6H_FGdwFEYknAVx-Mn1wholTI=');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }


    .container {
        max-width: 500px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .AuthForm {
        padding: 30px;
        border-radius: 15px;
        border: 2px solid #000;
        background-color: transparent;
        backdrop-filter: blur(30px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        border-radius: 10px;
    }

    .btn-block {
        width: 100%;
        border-radius: 10px;
    }

    label {
        font-weight: bold;
    }
</style>

<body>
    <div class="form-container">
        
        <form action="/Home/Login" method="post" class="AuthForm">
            <h1>Please Log-In</h1>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control" asp-for="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter Password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="position">Position:</label>
                <select class="form-control" name="position" asp-for="Position">
                    <option value="" disabled selected>Select your position</option>
                    <option value="Parent">Parent</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Admin">Admin</option>
                </select>
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
        </form>
    </div>
</body>