@{
    ViewData["Title"] = "Home Page";
}

<form action="" method="post">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>